nav {
    display: flex;

a {
    padding-left: 20px;
    display: inline-block;
    color: palevioletred;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
    }
}
